
@{
    ViewBag.Title = "lostreports";
}

<a class="btn btn-primary" href="/lostreport/viewlp" role="button">All posts</a>
<a class="btn btn-primary" href="/lostreport/yourlpposts" role="button">Your posts</a>
<a class="btn btn-primary" href="/lostreport/makelostreport" role="button">Make post</a>

