
@{
    ViewBag.Title = "makelostreport";
}
<link href="~/styles/generaldiscussion.css" rel="stylesheet" />
<div class="container px-4 py-5 mx-auto">

    <div class="row d-flex justify-content-center">
        <div class="card gap">
            <div class="row px-3">
                <img class="profile-pic mr-3" src="~/images/ipt4.png">
                <div class="flex-column">
                    <h3 class="mb-0 font-weight-normal">Welcome !!!</h3>
                </div>
            </div>
            <div class="row px-3 form-group">

                <form method="post" action="/lostreport/lostreports">

                    <label>Name the lost item / Item found</label>
                    <input type="text" id="lostitem" name="lostitem" class="form-control" placeholder="Item" /> <br />
                    @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@


                    <label>Please Provide with some details of Item</label>
                    <input type="text" id="details" name="details" class="form-control" placeholder="Describe the item" /> <br />

                    @*<div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>*@

                    <input type="submit" class="btn btn-success ml-auto" />

                </form>

            </div>


            @*<form method="post" action="/generalpost/generaldiscussion">
                    <label>Topic For The Post</label>
                    <input type="text" id="topic" name="topic" class="form-control" />
                    <label>Details abot the post....</label>
                    <input type="text" id="detail" name="detail" class="form-control" />
                    <input type="submit" class="btn btn-success ml-auto" />
                </form>*@
            @*<textarea id="topic" name="topic" class="text-muted bg-light mt-4 mb-3" placeholder="Hi Camilla, what's on your mind today?"></textarea>*@


            @*<div class="row px-3 form-group">
                    <textarea id="detail" name="detail" class="text-muted bg-light mt-4 mb-3" placeholder="Hi Camilla, what's on your mind today?"></textarea>
                </div>*@

            @*<div class="row px-3">
                    <p class="fa fa-user options mb-0 mr-4"></p>
                    <p class="fa fa-map-marker options mb-0 mr-4"></p>
                    <p class="fa fa-image options mb-0 mr-4"></p>
                    <img class="options" src="https://img.icons8.com/material/24/000000/more--v2.png" width="30px" height="28px">

                    <input type="submit" class="btn btn-success ml-auto" />

                </div>*@
        </div>
    </div>
</div>

