
@{
    ViewBag.Title = "makelostreport";
}

<div>
    <form method="post" action="/lostreport/lostreports">
        <input type="text" id="lostitem" name="lostitem" class="form-control" />
        <input type="text" id="details" name="details" class="form-control" />

        <input type="submit" class="accordion-button" />
    </form>
</div>

