
@{
    ViewBag.Title = "loginpage";
    var apiurl = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.apiurl);

}
<link href="~/styles/loginpage.css" rel="stylesheet" />

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/images/ipt6.png"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h2 class="lead fw-normal mb-0 me-3">Sign in with your personal identity</h2>
                        </div>

                    <div class="divider d-flex align-items-center my-4">
                        <h5 class="text-center fw-bold mx-3 mb-0">Enter Your Details</h5>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg edit"
                               placeholder="Enter a valid email address" />
                        <h6> <label class="form-label" for="email">Email address</label></h6>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="pass" class="form-control form-control-lg edit "
                               placeholder="Enter password" />
                        <h6> <label class="form-label" for="pass">Password</label></h6>
                    </div>


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-primary btn-lg edit" onclick="userlogin()"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <br />
                        <br />
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="/signup/signuppage"
                                                      class="link-danger">Register</a>
                        </p>
                    </div>
                    <div id="mes">

                    </div>
                </form>
                <form name="myform" id="myform" action="/Home/Index" method="post">
                    <input type="hidden" name="userid" id="userid">
                </form>
            </div>
        </div>
    </div>
    
</section>
<script>
    function userlogin() {
        var xhttp = new XMLHttpRequest();
        var apiurl = @Html.Raw(apiurl);
        apiurl = apiurl + "authfuser/authloginuser";

        xhttp.open("POST", apiurl, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.setRequestHeader("Key", "Secret@123");
        var obj = { email: document.getElementById("email").value, password: document.getElementById("pass").value };
        xhttp.send(JSON.stringify(obj));

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                console.log(xhttp.responseText);
                var userid = xhttp.responseText;
                if (userid > 0) {
                    console.log("hello");
                    document.getElementById("mes").innerHTML = "login successfuly";
                    document.getElementById("userid").value = userid;
                    document.getElementById("myform").submit();
                }
                else {
                    document.getElementById("mes").innerHTML = "incorrect email or password";

                }
            }
        };
    }
</script>