
@{
    ViewBag.Title = "homepage";
}
<link href="~/styles/welcome.css" rel="stylesheet" />
<h1>

    WELCOME TO FAST STUDENT DISCUSSION FORUM
</h1>



<div class="container mx-auto mt-4 ">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 24rem;">
                <img src="~/images/ipt1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">General Discussion</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Fast general discusion platform </h6>
                    <p class="card-text">Here you can have any kind of discussions regarding university and related to any difficulty facing in any course  .</p>
                    <a href="/generalpost/viewgd" class="btn mr-2"><i class="fas fa-link"></i> View Post</a>
                    <a href="/generalpost/yourgdposts" class="btn "><i class="fab fa-github"></i>Your Posts</a>
                    <a href="/generalpost/makepost" class="btn "><i class="fab fa-github"></i>Make Post</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card gap" style="width: 24rem; ">
                <img src="~/images/ipt5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lost Report</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Post to upload or find any loit item</h6>
                    <p class="card-text">This platform can be used to find or upload the information about any item lost or found in the circumstances of university.</p>
                    <a href="/lostreport/viewlp" class="btn  mr-2"><i class="fas fa-link"></i>View Post</a>
                    <a href="/lostreport/yourlpposts" class="btn"><i class="fab fa-github"></i>Your Posts</a>
                    <a href="/lostreport/makelostreport" class="btn "><i class="fab fa-github"></i>Make Post</a>
                </div>
            </div>
        </div>

    </div>
</div>


