
@{
    ViewBag.Title = "generaldiscussion";
}

<a class="btn btn-primary" href="/generalpost/viewgd" role="button">All posts</a>
<a class="btn btn-primary" href="/generalpost/yourgdposts" role="button">Your posts</a>
<a class="btn btn-primary" href="/generalpost/makepost" role="button">Make post</a>

