
@{
    ViewBag.Title = "makepost";
}

<div>
    <form method="post" action="/generalpost/generaldiscussion">
        <input type="text" id="topic" name="topic" class="form-control" />
        <input type="text" id="detail" name="detail" class="form-control" />
        <input type="submit" class="accordion-button" />
    </form>
</div>


