:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
    background:rgb(252,188,3);
    /* Created with https://www.css-gradient.com */
/*    background: #23EC55;
    background: -webkit-radial-gradient(top right, #23EC55, #2D51C1);
    background: -moz-radial-gradient(top right, #23EC55, #2D51C1);
    background: radial-gradient(to bottom left, #23EC55, #2D51C1);*/
}

.card {
    background: #222;
    border: 10px solid #222;
    border-block: inset;
    color: rgba(250, 250, 250, 0.8);
    margin: 2rem;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    box-shadow: 0 5px 30px rgba(0,0,0,.2)
}

.gap {
    margin-inline-start: 20rem;
}

.btn {
    border: 5px solid rgb(4,124 ,14);
    border-image-slice: 1;
    background: #fff;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: rgb(31,180,14);
    text-decoration:double ;
    transition: all .4s ease;
}
.card:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 200%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover, .btn:focus {
    background: rgb(4,124,14);
    -webkit-background-clip: rgb(4,124,14);
    -webkit-text-fill-color: rgb(4,124,14);
    border: 5px solid #fff;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}
.text{
    color:rgb(50,133,5);
}